@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
.App {
  min-height:100vh ;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  display: block;
  background-color:  #c1c2fa;
  color:rgb(0, 0, 0);
   /* background-image: url("./image/2109.jpg"); */
  background-position: center;
  justify-content: center;
  font-family: 'Patrick Hand SC';
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.cards .red {
  background-color: rgb(112, 112, 206);
}
.cards .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: 400ms;
}

.cards .cards p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .cards p.second-text {
  font-size: .7em;
}

.cards .cards:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .cards:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}


